<div data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="Panel fixed positioning" data-url="panel-fixed-page1">
    <div data-role="header" data-position="fixed">


   
<h1>{% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      <a class="btn" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
</h1>

<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>







</div>










